---
---

@import 'variables';
@import 'bootstrap/bootstrap';
@import 'bootswatch';
@import 'fontawesome/fontawesome';
@import 'fontawesome/solid';
@import 'fontawesome/brands';
@import 'fontawesome/regular';

.top-header {
    height: 200px;
    background-image: url({{ "/img/bg.jpg" | prepend: site.baseurl }});
    background-size: cover;
}

