---
---

@import 'variables';
@import 'bootstrap/bootstrap';
@import 'bootswatch';
@import 'fontawesome/fontawesome';
@import 'fontawesome/solid';
@import 'fontawesome/brands';
@import 'fontawesome/regular';

body {
    background-image: url({{"/img/hex2x.png" | prepend: site.baseurl}});
}

#page {
    background-color: $white;
}

.video-title {
    font-weight: 900;
}
.video-text {
    font-size: 0.750rem;
}

.card-img-max {
    max-height: 8rem;
    object-fit: cover;
}

.top-header {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url({{"/img/bg.jpg" | prepend: site.baseurl}});
}

.card-img-background {
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}

.card-img-background:hover {
    background-color: transparent;
}

.dossier-img {
    width: 100%;
    object-fit: cover;
}

.video-item {
    position: relative;
    text-align: center;
    color: white;
    img {
        width: 100%;
        object-fit: cover;
    }
  }

.video-cap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    p {
        margin-bottom: 0;
        transition: all 0.2s ease-out;
    }
}

.video-item:hover .video-cap {
    p {
        margin: 0.6rem auto 0.6rem auto;
    }
}