{%- for dossier in site.dossiers | limit: 4 -%}
<div class="col-3 mx-0">
    <div class="video-item mb-2">
            <a href="#" class="stretched-link">
            <img src="{{dossier.image}}" class="img-fluid" alt="{{dossier.title}}">
            </a>
            <div class="video-cap">
                <p class="mb-1">
                    {% for tag in dossier.tags %}
                    <span class="badge badge-secondary">{{tag}}</span>
                    {% endfor %}
                </p>                        
                <h6 class="text-white">{{dossier.title}}</h6>
            </div>
    </div>
</div>
{%- endfor -%}