<div class="card-group">
    {%- for comparatif in site.comparatifs -%}
    {%- if forloop.first -%}
        <div style="flex-grow:2" class="card bg-secondary">
            <img src="https://img.youtube.com/vi/{{comparatif.id}}/mqdefault.jpg" class="card-img-top card-img-max" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{comparatif.title}}</h5>
                <p class="card-text">{{comparatif.subtitle}}</p>
                <a href="{{comparatif.url}}" class="btn btn-primary btn-sm stretched-link">Voir <i class="far fa-arrow-alt-circle-right"></i></a>
            </div>
    </div>
    {%- else -%}
        <div class="card bg-secondary">
            <img src="https://img.youtube.com/vi/{{comparatif.id}}/mqdefault.jpg" class="card-img-top card-img-max" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{comparatif.title}}</h5>
                <p class="card-text">{{comparatif.subtitle}}</p>
                <a href="{{comparatif.url}}" class="btn btn-primary btn-sm stretched-link">Voir <i class="far fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    {%- endif -%}
    {%- endfor -%}
</div>
<p class="text-right"><a href="#">Tous les comparatifs <i class="fas fa-arrow-circle-right"></i></a></p>